APP_ENV=development
APP_DEBUG=true
APP_NAME="Touche pas au klaxon"
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=touche_pas_au_klaxon
DB_USERNAME=klaxon_app
DB_PASSWORD=changeme
